{% load staticfiles %}
<div id="catalog" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Courses Catalog</h4>
        {% for data in videoData %}
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s2 card-panel teal lighten-2">
                    <span class="flow-text">{{ data.0 }}</span>
                </div>
                <div class="col s5 offset-s4">
                    <ul class="right">
                        <li>
                            <a class='dropdown-button btn waves-effect waves-light' href='#' data-activates='{{ data.0.split.0 }}'>Videos List &nbsp<i class="zmdi zmdi-long-arrow-down"></i></a>
                            <ul id='{{ data.0.split.0 }}' class='dropdown-content'>
                                {% for video in data.1 %}
                                <li><a href="{{ video.1 }}" class="waves-effect waves-light">{{ video.0 }}</a></li>
                                <li class="divider"></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <p>
                This is intro for {{ data.0 }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <a href="{% url 'courses' %}" class="modal-action modal-close waves-effect waves-green btn-flat ">Show All</a>
    </div>
</div>