{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--  -->
    {% include 'headCss.html' %}
    <!--  -->
    {% include 'headJs.html' %}
    <title></title>
</head>

<body>
    {% include 'navbar.html' %}
    <!--  -->
    {% include 'about.html' %}
    <!--  -->
    {% include 'catalog.html' %}
    {% include 'contact.html' %}
    <ul class="collapsible popout" data-collapsible="accordion" id="courses">
        {% for data in videoData %}
        <li>
            <div class="collapsible-header">
                <h4>
                    <p>
                        {{ data.0 }}
                    </p>
                </h4>
            </div>
            <div class="collapsible-body">
                {% load el_pagination_tags %} {% with data.1 as items %} {% paginate items %} {% for video in data.1 %}
                <div class="divider"></div>
                <div class="section">
                    <h5>{{ video.0 }}</h5>
                    <p>thsni sajosnu fjajfu n jabsfyaiba iuai aStuff</p>
                </div>
                {% endfor %} {% get_pages %}
                <ul align="center" class="pagination">
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    {% for page in pages %}
                    <li class="waves-effect"><a href="{{ page.url }}">{{ page.number }}</a></li>
                    {% endfor %}
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
                {% endwith %}
            </div>
        </li>
        <br><br> {% endfor %}
    </ul>
    {% include 'footer.html' %}
</body>

</html>