<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyrights reserved to Tarun Gupta
            <a class="grey-text text-lighten-4 right" href="https://in.linkedin.com/in/tarun-gupta-3030a672"><i class="zmdi zmdi-linkedin-box zmdi-hc-3x"></i></a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/tarunlnmiit"><i class="zmdi zmdi-github-box zmdi-hc-3x"></i></a>
            <a class="grey-text text-lighten-4 right" href="http://stackoverflow.com/users/5538657/tarun-gupta"><i class="zmdi zmdi-stackoverflow zmdi-hc-3x"></i></a>
        </div>
    </div>
</footer>