<div id="login" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Login</h4>
        <li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Facebook<i class="zmdi zmdi-facebook-box"></i></a></li>
        <li class="divider"></li>
        <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="zmdi zmdi-google"></i>Google</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'social:begin' 'linkedin' %}?next={{ request.path }}"><i class="zmdi zmdi-linkedin-box"></i>LinkedIn</a></li>
    </div>
    <div class="modal-footer" id="copyright">
        © 2016 Copyrights reserved to Tarun Gupta
    </div>
</div>
