{% load staticfiles %}

<li id="aboutSite">

    <div class="collapsible-header active">
        <h4>
            <p>
                About this Site
            </p>
        </h4>
    </div>
    <div class="collapsible-body">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/PT2_F-1esPk"></iframe>

        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this case, is moved at a different
            speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background
            content or image in this case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while
            scrolling.Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</li>

<li id="coursesSlider">
    <div class="collapsible-header active">
        <h4>
            <p>
                Courses
            </p>
        </h4>
    </div>
    <div class="collapsible-body">
        <div class="slider">
            <ul class="slides">
                <li>
                    <div id="video1"></div>
                </li>
                <li>
                    <div id="video2"></div>
                </li>
                <li>
                    <div id="video3"></div>
                </li>
                <li>
                    <div id="video4"></div>
                </li>
            </ul>
        </div>
    </div>
</li>